<!--
  Generated template for the MorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>GAMES CLUB</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content style= " background-color:black  ">

      <ion-card style= " background-color:#2C2C2C "  >
        <ion-grid>
          <ion-row  >
            <ion-col col-4><img src="../../assets/imgs/k1 - Copy - Copy.jpg"  ></ion-col>
            <ion-col col-4><img src="../../assets/imgs/k2 - Copy.jpg"></ion-col>
            <ion-col col-4><img src="../../assets/imgs/k3 - Copy.png"   ></ion-col>
            
          </ion-row>


          <ion-row>
              <ion-col col-11><ion-title>  <span style="color:white ; font-size: 25px">Jewel Bubble Mania </span></ion-title></ion-col>
              <!-- <ion-col col-1><ion-icon    name="download"  style="float: right;" ></ion-icon> </ion-col> -->
              <ion-col col-1><button  ion-button small style= " background-color:black"> <ion-icon name="download"></ion-icon> </button> </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card>


      <!-- <ion-card style= " background-color:#2C2C2C ;margin-left: 10px;margin-right: 10px ">
          <ion-grid>
            <ion-row>
                <ion-col col-12> <img src="../../assets/imgs/k2.jpg" width="50%" ></ion-col>
                
              </ion-row>
            <ion-row>
                <ion-col col-11><ion-title>  <span style="color:white ; font-size: 12px"> Chota Bheem And the throne of Bali </span></ion-title></ion-col>
               <ion-col col-1><button  ion-button small style= " background-color:black"> <ion-icon name="download"></ion-icon> </button> </ion-col>   
              </ion-row>
            </ion-grid>
        </ion-card>

        <ion-card style= " background-color:#2C2C2C  ">
            <ion-grid>
              <ion-row>
                  <ion-col col-12> <img src="../../assets/imgs/k1.jpg" ></ion-col>
                  
                </ion-row>
              <ion-row>
                  <ion-col col-11><ion-title>  <span style="color:white ; font-size: 12px"> Chota Bheem And the throne of Bali </span></ion-title></ion-col>
                  <ion-col col-1><ion-icon    name="download"  style="float: right;" ></ion-icon> </ion-col> 
                </ion-row>
              </ion-grid>
          </ion-card> -->
      
      </ion-content>