
<ion-header  >
  <ion-navbar dark>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GAMES CLUB</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background:black ;margin-right: 40px"  > 

 <ion-grid>  
      <ion-row> 
          <ion-slides autoplay="2000" loop="true" speed="1000" style="height: 480px !important;">
              <ion-slide >
                <img src="../../assets/imgs/SLIDE1.png">
              </ion-slide>
              <ion-slide >
                <img src="../../assets/imgs/SLIDE2.png">
              </ion-slide>
              <ion-slide >
                <img src="../../assets/imgs/SLIDE3.png">
              </ion-slide>
            </ion-slides> 

      </ion-row>

        <ion-row>
            <ion-col col-9><ion-title>  <span style="color:white">Kids Games </span></ion-title></ion-col>
            <ion-col col-3><button ion-button small block outline  [navPush]="morePage"  ion-button style="float: right; width: 30%">More</button></ion-col>
          </ion-row>
          <ion-row >
              <ion-col col-4><img src="../../assets/imgs/k1 - Copy.jpg" style="margin-left: 20%" ></ion-col>
              <ion-col col-4><img src="../../assets/imgs/k2.jpg" style="margin-left: 20%"></ion-col>
              <ion-col col-4><img src="../../assets/imgs/k3.png"  style="margin-left: 20%" ></ion-col>
              
            </ion-row>

        <ion-row>
            <ion-col col-9><ion-title>  <span style="color:white">Casino Games </span></ion-title></ion-col>
            <ion-col col-3><button ion-button small block outline [navPush]="criketpage" ion-button style="float: right; width: 40%">Download</button></ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-6><img src="../../assets/imgs/roulettevegascasino_screen_720x1280_4.png" width="100%" ></ion-col>
          <ion-col col-6><img src="../../assets/imgs/roulettevegascasino_screen_720x1280_2.png" width="100%" ></ion-col>
         
          
        </ion-row>
        

        
        <ion-row>
            <ion-col col-9><ion-title>  <span style="color:white">Racing  Games </span></ion-title></ion-col>
            <ion-col col-3><button ion-button small block outline [navPush]="actionpage"ion-button style="float: right;width: 30%">More</button></ion-col>
          </ion-row>
        <ion-row>
           <ion-col col-6><img src="../../assets/imgs/motodragracing_screen_720x1280_1.png" width="100%" ></ion-col>
          <ion-col col-6><img src="../../assets/imgs/motodragracing_screen_720x1280_2.png" width="100%" ></ion-col>
         
        </ion-row>
        
        <ion-row>
            <ion-col col-8><ion-title>   <span style="color:white">Action Games </span></ion-title></ion-col>
            <ion-col col-4><button ion-button small block outline [navPush]="racingmore" ion-button style="float: right;width: 30%">Download</button></ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-4><img src="../../assets/imgs/westernslotmachine_screen_720x1280_1.png" style="margin-left: 20%" ></ion-col>
          <ion-col col-4><img src="../../assets/imgs/westernslotmachine_screen_720x1280_2.png" style="margin-left: 20%"></ion-col>
          <ion-col col-4><img src="../../assets/imgs/westernslotmachine_screen_720x1280_5.png"  style="margin-left: 20%" ></ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-9><ion-title>  <span style="color:white">Sports  Games </span></ion-title></ion-col>
            <ion-col col-3><button ion-button small block outline [navPush]="sportsmore" ion-button style="float: right;width: 30%">More</button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4><img src="../../assets/imgs/rollthatball2_screen_720x1280_1.png" style="margin-left: 20%" ></ion-col>
            <ion-col col-4><img src="../../assets/imgs/rollthatball2_screen_720x1280_2.png" style="margin-left: 20%"></ion-col>
            <ion-col col-4><img src="../../assets/imgs/rollthatball2_screen_720x1280_3.png"  style="margin-left: 20%" ></ion-col>
          </ion-row>

        <ion-row>
            <ion-col col-8><ion-title>  <span style="color:white">Cards Games </span></ion-title></ion-col>
            <ion-col col-4><button ion-button small block outline [navPush]="puzzlemore" ion-button style="float: right;width: 30%">Download</button></ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-4><img src="../../assets/imgs/freecellsolitaire-html5_screen_176x220_1.png" style="margin-left: 20%" ></ion-col>
          <ion-col col-4><img src="../../assets/imgs/freecellsolitaire-html5_screen_176x220_2.png" style="margin-left: 20%"></ion-col>
          <ion-col col-4><img src="../../assets/imgs/freecellsolitaire-html5_screen_240x320_1.png"  style="margin-left: 20%" ></ion-col>
        </ion-row>

        <!-- <ion-row>
            <ion-col col-9><ion-title>  <span style="color:white">Arcade Games </span></ion-title></ion-col>
            <ion-col col-3><button ion-button small block outline [navPush]="arcadepage" ion-button style="float: right;width: 30%">More</button></ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-6><img src="../../assets/imgs/ar1.jpg" width="100%" ></ion-col>
          <ion-col col-6><img src="../../assets/imgs/ar2.jpg" width="100%" ></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8><ion-title>  <span style="color:white">Adventure Games </span></ion-title></ion-col>
            <ion-col col-4><button ion-button small block outline [navPush]="adventurepage"  ion-button style="float: right;width: 30%">Download</button></ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-6><img src="../../assets/imgs/ad1.jpg" width="100%" ></ion-col>
          <ion-col col-6><img src="../../assets/imgs/ad-2.jpg" width="100%" ></ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-9><ion-title>  <span style="color:white">Casual Games </span></ion-title></ion-col>
            <ion-col col-3><button ion-button small block outline  [navPush]="casualpage" ion-button style="float: right;width: 30%">More</button></ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-6><img src="../../assets/imgs/cas-1.jpg" width="100%" ></ion-col>
          <ion-col col-6><img src="../../assets/imgs/cas-2.jpg" width="100%" ></ion-col>
        </ion-row> -->
      
    </ion-grid>
  </ion-content>


