<!--
  Generated template for the SportsmorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>GAMES CLUB</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
   <ion-card>
        <img src="../../assets/imgs/sp1.jpg" style= "margin-left: 20px ;margin-right: 40px">
        <ion-card-content>
          <ion-card-title style="float: left;">
            Chota Bheem And the throne of Bali
           
            </ion-card-title>
            <button   ion-button style="float: right;">Play Now</button>
          
        </ion-card-content>
      </ion-card>
  
      <ion-card>
          <img src="../../assets/imgs/sp2.jpg" style= "margin-left: 20px ;margin-right: 40px">
          <ion-card-content>
            <ion-card-title style="float: left;">
              Chota Bheem And the throne of Bali
             
              </ion-card-title>
              <button   ion-button style="float: right;">Play Now</button>
            
          </ion-card-content>
        </ion-card>
  
        <ion-card>
            <img src="../../assets/imgs/k1.jpg" style= "margin-left: 20px ;margin-right: 40px">
            <ion-card-content>
              <ion-card-title style="float: left;">
                Chota Bheem And the throne of Bali
               
                </ion-card-title>
                <button   ion-button style="float: right;">Play Now</button>
              
            </ion-card-content>
          </ion-card>
      </ion-content>