<ion-menu [content]="content" >

  <ion-header>
    <ion-toolbar >
            <ion-title><ion-icon name="home"></ion-icon> &nbsp;Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="background-color: black">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="background-color: black; color: #fff">
          <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
             <ion-icon name={{p.icon}}></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>